.credentials {
    text-align: center;
    color: white;
}

.universityphotomobile {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.profilephotomobile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.userinfo {
    font-size: 14px;
    margin-top: 30px;
}

.fixedtext {
    margin-top: -15px;
}

/* Department and university logo */
    .leftsidecredentials {
        margin-top: 20px;
        font-size: 13px;
    }

    .department {
        margin-top: -20px;
    }

