.credentials {
    text-align: center;
    color: white;
}

.universityphoto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profilephoto {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.userinfo {
    font-size: 14px;
    margin-top: 30px;
}

.fixedtext {
    margin-top: -15px;
}

/* Department and university logo */
    .leftsidecredentials {
        margin-top: 20px;
        font-size: 14px;
    }

    .universityphotodiv {
        margin-left: 50px;
        margin-right: -75px;
    }

    .department {
        margin-top: -20px;
    }

