.container {
    padding-top: 20px;
}

h2 {
    text-align: center;
    color: white;
}

.percard {
    background-image: url('../../assets/images/per.png');
}

.coralogo {
    display: block;
}

.cardinfo1 {
    padding: 10px;
    border: 2px solid #55A2C5;
    border-radius: 10px;
    text-align: center;
}

.cardinfo2 {
    padding: 10px;
    border: 2px solid #8862C6;
    border-radius: 10px;
    text-align: center;
}

.card1:hover {
    transform: scale(1.1);
}

.card2:hover {
    transform: scale(1.1);
}
