.container {
    padding-top: 20px;
}

.cardsheading {
    text-align: center;
    color: white;
}

.cardphoto {
    display: block;
}

.coralogo {
    display: block;
}

.card1info {
    padding: 10px;
    border: 2px solid #55A2C5;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.card2info {
    padding: 10px;
    border: 2px solid #8862C6;
    border-radius: 10px;
    text-align: center;
}

.card1text {
    color: white;
}


.card2text {
    color: white;
}

.card1 {
    height: 500px;
    transition: transform 2s;
}

.card1:hover {
    transform: scale(1.1);
}

.card2 {
    height: 500px;
    transition: transform 2s;
}

.card2:hover {
    transform: scale(1.1);
}
