.form {
    padding-bottom: 75px;
}

.input {
    color: red;
}

.coralogo {
    display: block;
}

.stepheading {
    color: white;
}

.datepicker {
    background-color: white;
    border-radius: 100px;
}

.datepickerdiv {
    margin-top: 20px;
}

.radiotext {
    font-size: 12px;
}

.textinput {
    color: white;
}
