html body {
  background-image: url('./assets//images//cora-back.png');
  background-repeat: scroll;
  background-attachment: fixed;
}

.page {
  background-color: transparent;
  min-height: 70vh;
  margin-top: 11vh;
}
